$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.profile{
  margin-top: 30px;
  margin-bottom: 30px;
  @include desktop(){
    margin-top: 85px;
  }
  @include tablet(){
    margin-top: 85px;
  }
  .container{
    display: flex;
    .left{
      width: 250px;
      border: solid 1px #ddd;
      display: flex;
      flex-direction: column;
      height: fit-content;
      .user-info{
        text-align: center;
        padding: 20px 0;
        height: auto;
        .thumb{
          img{

            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
        }
        .name{
          font-weight: 600;
          margin-top: 5px;
        }
      }
      .tabs-navigate{
        width: 100%;
        height: fit-content;
        background-color: white;
        margin: 0;
        li{
          .tab-item{
            display: block;
            padding: 10px;
            color: #444;
            text-decoration: none;
            width: 100%;
            cursor: pointer;
            &:hover{
              background-color: #f5f5f5;
              color: hsl(0,0,11%);
              transition: all 0.2s;
              font-weight: 600;
            }

          }
          .active{
            background-color: #f5f5f5;
            color: hsl(0,0,11%);
            transition: all 0.2s;
            font-weight: 600;
          }
        }
      }
    }
    .right{
      @include desktop(){
        margin-left: 20px;
      }
      @include tablet(){
        margin-left: 20px;
      }
      flex: 1;
      padding: 30px;
      border: solid 1px #ddd;
    }
  }
}
