<div class="profile">
  <div class="container">
    <div class="left">
      <div class="user-info">
        <div class="thumb">
          <img [src]="user.avatar" alt="">
        </div>
          <div class="name">{{user.name}}</div>
      </div>
      <ul class="tabs-navigate">
          <li><span href="#" (click) = 'handleTabActive("tab1")' [ngClass] = "{'active' : tabActive == 'tab1'}" class="tab-item">item 1</span></li>
          <li><span href="#" (click) = 'handleTabActive("tab2")' [ngClass] = "{'active' : tabActive == 'tab2'}" class="tab-item">item 2</span></li>
      </ul>

    </div>
    <div class="right">
      <h5 class="title">Personal information</h5>
        <div class="user-info-tab form-group" *ngIf = 'tabActive == "tab1"'>
            <label for="">Họ tên</label>
            <input [value] = 'user.name' type="text" class="form-control">
            <label for="">Email</label>
            <input [value] = 'user.email' type="text" class="form-control">
            <label for="">Số điện thoại</label>
            <input [value] = 'user.phone' type="text" class="form-control">
        </div>
        <div *ngIf = 'tabActive =="tab2"' >
          tab2
        </div>
    </div>
  </div>
</div>
