<div  id = 'navTop' class="navigation" [ngClass] = '{"navbar-sticky" : isSticky}'>
  <div class="container">
      <ul class="menu">
        <li>
          <a href="#" class="menu-item">home</a>
        </li>
        <li>
          <a href="#" class="menu-item">category</a>
        </li>
        <li>
          <a href="#" class="menu-item">archive</a>
        </li>
        <li>
          <a href="#" class="menu-item">page</a>
        </li>
        <li>
          <a href="#" class="menu-item">blog</a>
        </li>
        <li>
          <a href="#" class="menu-item">contact</a>
        </li>
      </ul>
  </div>

</div>
