$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.navigation{
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 79px;
  background-color: #f5f5f5;
  transition: all ease-out 0.4s;
  z-index: 99;
  .container{
    .menu{
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      padding: 10px 0;
      align-items: center;
      display: none;
      @include tablet(){
        display: flex;
      }
      @include desktop(){
        display: flex;
      }
      li{
        .menu-item{
          width: 100%;
          display: inline-block;
          padding: 8px 10px;
          text-transform: uppercase;
          color: #415094;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
}
.navbar-sticky{
  margin-top: 0 !important;
  background: #7c32ff;
  .menu-item{
    color: white !important;
  }
}
