$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


.header{
  padding: 15px 0;
  color: hsl(0,0,30%);
  font-size: 14px;
  .container{
    display: flex;
    align-items: center;
    .logo{
      margin-right: 10px;
      img{
        cursor: pointer;
      }
    }
    .search{
      flex: 1;
      text-align: right;
      .search-icon{
        color: #555;
        margin-left: 10px;
        cursor: pointer;
        font-size: 18px;

        &:hover{
          color: #444;
          transition: color ease-in-out 0.2s;
        }
      }
      input{
        border: solid 1px #ddd;
        padding: 5px 10px ;
        width: 0;
        border-radius: 3px;
        transition: width 0.3s;
        visibility: hidden;
        &:focus{
          outline: none;
          border-color: #a53f2b;
          background-color: white;
        }
      }
      .toggle-input{
        visibility: visible;
        width: 90% ;
      }
    }

    .user{
      .login{
        background-color: purple;
        color: white;
        font-weight: 600;
        padding: 8px 10px;
        border-radius: 5px;
        text-decoration: none;
      }
      position: relative;
      margin-left: 15px;
      &:hover{
        .user-submenu{
          display: block;
        }
      }
      a{
        .avt{
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      .user-submenu{

        left: 50%;
        display: none;
        position: absolute;
        z-index: 100;
        background-color: white;
        border: solid 1px #ddd;
        width: 150px;
        li{
          a{
            padding: 8px 15px;
            color: #415094;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            border-bottom: solid 1px #ddd;
            &:last-child{
              border: none;
            }
            &:hover{
              background-color: #f5f5f5;
            }
          }
        }
      }
    }

    .toggle-menu{
      margin-left: 10px;
      display: block;
        span{
          font-size: 22px;
          cursor: pointer;
        }
        @include tablet(){
          display: none;
        }
        @include desktop(){
          display: none;
        }
    }
  }
}

.menu-mobile{

  transition: left 0.3s;
  top: 0;
  bottom: 0;
  width: 250px;
  left: -250px;
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  padding-top: 15px;
  li{
    .menu-item{
      width: 100%;
      display: inline-block;
      padding: 10px;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;

    }
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
  }

}

.menu-control{
  left: 0 ;

}
.scroll-top{
  position: fixed;
  bottom: 10px;
  z-index: 100;
  right: 20px;
  display: inline-block;
  background-color: purple;
  padding: 8px 12px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    background-color: #7c32ff;
    transition: all 0.1s;
  }
}
