
<div class="header">
  <div class="container">
    <div class="logo" routerLink = '/'>
        <img src="https://colorlib.com/preview/theme/bounty/img/logo.png" />
    </div>
    <div class="search">
        <input [ngClass] = "{'toggle-input' : toggleInput}" type="text"  />
        <span (click) = "toggle()" class="search-icon">
            <fa-icon [icon] = "faSearch"></fa-icon>
        </span>
    </div>
    <div class="toggle-menu">
        <span (click) = 'setIsOpenMenu()'><fa-icon [icon] = 'faBars'></fa-icon></span>
    </div>
    <div  class="user">
      <ng-container *ngIf = "user.accessToken">
        <a href="#" routerLink = '/profile'><img [src] = 'user.avatar' class="avt" alt=""></a>
        <ul class="user-submenu">
          <li class="menu-item"><a href="#">Thông báo</a></li>
          <li class="menu-item"><a href="#">Đăng xuất</a></li>
        </ul>
      </ng-container>
        <a *ngIf = "!user.accessToken" routerLink = 'login' href="" class="login">Đăng nhập</a>
    </div>
  </div>
</div>

<ul class="menu-mobile" [ngClass] = '{"menu-control" : isOpenMenu}'>
  <div class="wrapper" [ngStyle] = '{"display" : isOpenMenu ? "block" : "none"}' (click) = 'setIsOpenMenu()'></div>
  <li>
    <a href="#" class="menu-item">home</a>
  </li>
  <li>
    <a href="#" class="menu-item">category</a>
  </li>
  <li>
    <a href="#" class="menu-item">archive</a>
  </li>
  <li>
    <a href="#" class="menu-item">page</a>
  </li>
  <li>
    <a href="#" class="menu-item">blog</a>
  </li>
  <li>
    <a href="#" class="menu-item">contact</a>
  </li>
</ul>

<span class="scroll-top" (click) = 'scrollTop()'><fa-icon [icon] = 'faArrowUp' ></fa-icon></span>


