<div class="markdown-container">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Bài viết</a></li>
        <li class="breadcrumb-item active" aria-current="page">Viết bài</li>
      </ol>
    </nav>
    <div class="article-input form-group">
        <label for="">Tiêu đề bài viết</label>
        <input type="text" class="form-control" >
        <label for="">Tóm tắt bài viết</label>
        <input type="text" class="form-control" >
        <label for="">Thumbnail</label>

        <div *ngIf = "thumbnail" [ngStyle] = "{'background-image' : 'url('+thumbnail+')' }"  class="thumb" ></div>
        <input type="file" (change) = 'handleChangeImage($event)' class="form-control-file" name="" id="">
    </div>
    <div id="summernote">

    </div>
    <button (click) = 'getContent()' class="btn btn-success">Đăng bài</button>
  </div>

</div>
