$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.markdown-container{
  margin-bottom: 30px;
  @include desktop(){
    margin-top: 55px;
  }
  @include tablet(){
    margin-top: 55px;
  }
  .breadcrumb{
    padding: 20px 0;
    background-color: white;
    margin: 0;
    .breadcrumb-item{
      font-weight: 600;
      font-size: 14px;
      a{
        color: #c048d5;
      }

    }
  }

  .thumb{
    width: 200px;
    min-height: 150px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15x;

  }

}

