.poster-carousel{
  margin-top: 55px;

  .poster{
    height: 90vh;
    position: relative;
    overflow: hidden;
    &:hover{
      .post-thumb{
        transform: scale(1.1);
      }
    }
    .post-thumb{
      height: 100%;
      transition: all ease-in-out 0.3s;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
    .overlay{
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 30px;
      &:hover{
        .title{
          transition: all 0.3s;
          color: #7c32ff !important;
        }
      }
      .post-detail{
        padding: 0 15px;
        position: absolute;
        bottom: 20px;
        left: 0;
        height: 180px;
        overflow: hidden;
        .title{
          cursor: pointer;
          color: white;
          font-size: 27px;
          font-weight: 600;
          margin-bottom: 15px;
          padding-left: 15px ;
        }
        .content{
          display: flex;
          .author{
            border-right: solid 1px #ddd;
            padding: 0 15px;
            display: flex;
            .avt{
              margin-right: 10px;
              img{
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
              }
            }
            .info{
              .author-name{
                font-weight: 600;
              }
              .date-release{
                text-transform: uppercase;
                font-size: 13px;
              }
            }
          }
          .description{
            padding: 0 20px;
            flex: 1;
            font-size: 13px;
          }
        }
      }

    }
  }
}
