
<div class="poster-carousel">
  <owl-carousel-o [options]="customOptions">
    <ng-container  *ngFor="let item of list">
      <ng-template carouselSlide  [id] = 'item.id'>
        <div class="poster">
          <div class="post-thumb">
            <img [src] = " item.image" alt="">
          </div>
          <div class="overlay">
            <div class="post-detail">
              <h3 class="title">{{item.title}}</h3>
              <div class="content">
                <div class="author">
                  <div class="avt">
                    <img [src] = 'item.avt' alt="">
                  </div>
                  <div class="info">
                    <div class="author-name">{{item.author}}</div>
                    <div class="date-release">
                      {{item.dateRelease}}
                    </div>
                  </div>
                </div>
                <div class="description">
                  {{item.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
