$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
.footer{
  background-color: hsl(0,0,4%);
  color: white;
  padding: 40px 0;

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet(){
      flex-direction: row;
    }
    @include desktop(){
      flex-direction: row;
    }
    p{
      margin-top: 15px;
      color: #bbc;
      font-size: 14px;
    }
    h5{
      font-weight: 700;
      font-size: 17px;
      margin-top: 30px;
    }
    .left{
      padding: 10px;
      flex: 3;
      display: flex;
      flex-direction: column;
      @include tablet(){
        flex-direction: column;
      }
      @include desktop(){
        flex-direction: row;
      }
      .about-us{
        flex: 3;
        padding-right: 15px;
      }
      .newsletter{
        padding-right: 10px ;
        flex: 3;
        .search-footer{
          display: flex;
          align-items: center;
          input{
            background-color: hsl(0,0,12%);
            border:none;
            padding: 8px;
            color: #bbc;
            font-size: 14px;
            width: 100%;
            &:focus{
              border: none;
              outline: none;
            }

            }
            span{
              display: inline-block;
              padding: 7px 12px;
              background:linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
              cursor: pointer;
          }
        }
      }
    }
   .right{
     padding: 10px;
     flex: 2;
     display: flex;
     flex-direction: column;
     @include tablet(){
       flex-direction: column;
     }
     @include desktop(){
       flex-direction: row;
     }
    .instagram-feed{
      flex: 2.5;
      padding-right: 10px;
      .instagram-img{
        margin-top: 25px;
      }
    }
    .follow-us{
      flex: 2;
    }
   }

  }
  .coppy-right{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 40px;
    padding: 0 20px;
  }
}
