<div class="footer">
  <div class="container">
    <div class="left">
      <div class="about-us">
        <h5>About us</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deserunt optio quam odit blanditiis nulla laudantium dolores expedita facere atque distinctio aliquid, nobis quibusdam nisi aspernatur quo itaque labore ullam.</p>
      </div>
      <div class="newsletter">
          <h5>Newsletter</h5>
          <p>Stay updated with our latest trends</p>
          <div class="search-footer">
            <input type="text">
            <span><fa-icon [icon] = 'faArrowRight'></fa-icon></span>
          </div>
      </div>
    </div>
    <div class="right">
      <div class="instagram-feed">
        <h5>Instagram Feed</h5>
        <div class="instagram-img">
            <img src="https://colorlib.com/preview/theme/bounty/img/i1.jpg" alt="">
            <img src="https://colorlib.com/preview/theme/bounty/img/i1.jpg" alt="">
            <img src="https://colorlib.com/preview/theme/bounty/img/i1.jpg" alt="">
            <img src="https://colorlib.com/preview/theme/bounty/img/i1.jpg" alt="">
            <img src="https://colorlib.com/preview/theme/bounty/img/i1.jpg" alt="">
            <img src="https://colorlib.com/preview/theme/bounty/img/i1.jpg" alt="">
        </div>
      </div>
      <div class="follow-us">
        <h5>Follow us</h5>
        <p>Let us be social</p>
        <div class="list-social">

        </div>
      </div>
    </div>
  </div>

  <p class="coppy-right">
    Copyright ©2020 All rights reserved | This template is made with  by vu ngoc tuan
  </p>
</div>
