.article-content{
  width: 100%;
  .thumb{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }

  .title{
    margin-top: 20px;
    margin-bottom: 0;
  }
  .create_at{
    font-size: 13px;
    color: gray;
  }
  .tags-category{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    span{
      text-transform: uppercase;
      padding: 5px 10px;
      border: solid 1px #ddd;
      color: #415094;
      background-color: #f5f5f5;
      font-size: 13px;
      margin-right: 10px;
      border-radius: 30px;
      cursor: pointer;
      &:hover{
        color: white;
        background:linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
        transition: all 0.2s;
      }
    }
  }
}
