<div class="article-content">
  <div class="thumb">
    <img src="https://colorlib.com/preview/theme/bounty/img/blog/news-blog.jpg" alt="">
  </div>
  <h4 class="title">Cartridge Is Better Than Ever
    A Discount Toner</h4>
  <div class="create_at">12 Dec, 2017 11:21 am</div>
  <div class="tags-category">
    <span>lifestyle</span>
    <span>technology</span>
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem id fuga facere, omnis sit voluptatum asperiores architecto mollitia, minima delectus vel in alias itaque dolorum ab! Reprehenderit asperiores eaque iste?
  </div>
</div>
