<div class="author-card">
    <div class="thumb-img">
        <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/83889498_1239356203119738_8352489107452067840_n.jpg?_nc_cat=107&_nc_sid=85a577&_nc_oc=AQlVjtTHuzSMgHV8zp-V0fisMgrV2nLAdiYfRNwvhqUILNdXZMW2PTqzCpCFwdXfYcU&_nc_ht=scontent.fsgn2-1.fna&oh=ce73594ce480d93cbced67ccb0d2dadf&oe=5F2C6549" alt="">
    </div>
    <div class="title">
      vu ngoc tuan
    </div>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore architecto iusto quaerat consequuntur, culpa aliquid at mollitia hic. Asperiores quae alias eligendi corporis pariatur molestiae quia ad dolorum tenetur culpa.
    </p>
</div>
