.author-card{
  padding: 25px;
  background-color: #1e1c27;
  .thumb-img{
    img{
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  }
  .title{
    margin-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(130, 139, 178, 0.4);
  }
  .description{
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }
}
