<div class="home-container">

  <app-poster-carousel></app-poster-carousel>

  <div class="container list-post">
     <div class="left-content">
      <div class="row">
          <div class="col-md-6 ">
            <app-post-item></app-post-item>
          </div>
          <div class="col-md-6 ">
            <app-post-item></app-post-item>
          </div>
          <div class="col-md-6 ">
            <app-post-item></app-post-item>
          </div>
          <div class="col-md-6 ">
            <app-post-item></app-post-item>
          </div>
        </div>
      </div>
      <div class="right-content">
          <app-author-card></app-author-card>
          <div class="articles-suggest">
              <div class="tabs-control">
                  <div (click) = 'handleActiveTab("popular")' class="tab-item" [ngClass] = '{ "active-tab" : activeTab == "popular" }'>popular</div>
                  <div (click) = 'handleActiveTab("latest")' class="tab-item" [ngClass] = '{ "active-tab" : activeTab == "latest" }'>latest</div>
              </div>
              <div class="popular" [ngStyle] = "{'display' : activeTab == 'popular' ? 'block' : 'none' }">
                <div class="item">
                    <div class="thumb">
                      <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories1.jpg" alt="">
                    </div>
                    <div class="content">
                      <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                      <div class="info">SEPTEMBER 14, 2018</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories1.jpg" alt="">
                    </div>
                    <div class="content">
                      <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                      <div class="info">SEPTEMBER 14, 2018</div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="thumb">
                        <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories1.jpg" alt="">
                      </div>
                      <div class="content">
                        <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                        <div class="info">SEPTEMBER 14, 2018</div>
                      </div>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories1.jpg" alt="">
                    </div>
                    <div class="content">
                      <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                      <div class="info">SEPTEMBER 14, 2018</div>
                    </div>
                </div>

              </div>
              <div class="latest" [ngStyle] = "{'display' : activeTab == 'latest' ? 'block' : 'none' }">
                  <div class="item">
                    <div class="thumb">
                      <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories2.jpg" alt="">
                    </div>
                    <div class="content">
                      <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                      <div class="info">SEPTEMBER 14, 2018</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories2.jpg" alt="">
                    </div>
                    <div class="content">
                      <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                      <div class="info">SEPTEMBER 14, 2018</div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="thumb">
                        <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories2.jpg" alt="">
                      </div>
                      <div class="content">
                        <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                        <div class="info">SEPTEMBER 14, 2018</div>
                      </div>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="https://colorlib.com/preview/theme/bounty/img/posts/carousel/stories2.jpg" alt="">
                    </div>
                    <div class="content">
                      <h5 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h5>
                      <div class="info">SEPTEMBER 14, 2018</div>
                    </div>
                </div>
              </div>
          </div>
          <app-post-categories></app-post-categories>
          <app-post-tags></app-post-tags>
      </div>
  </div>
</div>

