$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
.home-container{
    .list-post{
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      @include desktop(){
        flex-direction: row;
      }
      .left-content{
        flex: 7;
      }
      .right-content{
        flex: 3;
        @include desktop(){
          margin-left: 15px;
        }

        .articles-suggest{
          margin-top: 40px;
          color: white;
          padding: 20px;
          background-color: #1e1c27;

          .tabs-control{
            display: flex;
            border-bottom: solid 1px #aaa;
            .tab-item{
              cursor: pointer;
              flex: 1;
              color: #ccc;
              text-align: center;
              padding-bottom: 15px;
              text-transform: uppercase;
              font-size: 13px;
            }
            .active-tab{
              border-bottom: solid 1px white;
            }
          }

          .item{
              padding: 15px 0;
              border-bottom: solid 1px gray;
              display: flex;
              align-items: flex-start;
              &:last-child{
                border: none;
              }
              .thumb{

                img{
                  width: 100%;
                  object-fit: cover;
                  max-width: 80px;
                  height: 100%
                }
              }
              .content{
                flex: 3;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                .title{
                  flex: 1;
                  font-size: 15px;
                  font-weight: 600;
                  cursor: pointer;
                  &:hover{
                    color: #7c3fff;
                    transition: all 0.2s;
                  }
                }
                .info{

                  font-size: 12px;
                  color: #828bb2;
                  text-transform: uppercase;
                }
              }
          }
        }
      }
    }

}
