<div class="post-tags">
    <h5 class="title">Post Tags</h5>
    <div class="tags">
        <a href="" class="tag-item">Lifestyle</a>
        <a href="" class="tag-item">Art</a>
        <a href="" class="tag-item">Technology</a>
        <a href="" class="tag-item">food</a>
        <a href="" class="tag-item">fashion</a>
        <a href="" class="tag-item">music</a>
        <a href="" class="tag-item">education</a>
    </div>
</div>
