.post-tags{
  background-color: #1e1c27;
  padding: 20px;
  margin-top: 30px;
  .title{
    color: white;
    padding-bottom: 15px;
    border-bottom: solid 1px gray;
  }
  .tags{
    display: flex;
    flex-wrap: wrap;
    .tag-item{
      color: #828bb2;
      padding: 8px;
      text-decoration: none;
      background-color: #393b53;
      margin: 5px;
      &:hover{
        background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
        color: white;
        transition: all 0.2s;
      }
    }
  }
}
