<div class="post-item">
  <div class="thumb-img">
    <img src="https://colorlib.com/preview/theme/bounty/img/archive/c3.jpg" alt="">
  </div>
  <div class="content">
      <div class="title">An Stormy Evening</div>
      <p class="summary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, autem deleniti qui ab dolor, pariatur sint rerum, aspernatur nisi dolorem sapiente accusantium. Vero quidem libero earum esse eum, aspernatur ipsam.
      </p>
      <div class="info">
        March 14, 2018 05
      </div>
  </div>
</div>
