.post-item{
  position: relative;
  width: 100%;
  border: solid 1px #ddd;
  overflow: hidden;
  margin-bottom: 10px;
  &:hover{
    .thumb-img img{
      transform: scale(1.1);
    }
    .content .title{
      color:  #c738d8 ;
    }
  }
  .thumb-img{
    img{
      transition: all 0.3s;
      width: 100%;
      height: auto;
    }
  }
  .content{
    padding: 10px;
    font-size:15px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 40%;
    background:white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .title{
      font-weight: 600;
      color: #415094;
      margin-bottom: 15px;
      cursor: pointer;
    }
    .summary{
      font-size: 13px;
      flex: 1;
      color: #828bb2;
    }
    .info{
      align-self: flex-end;
      color: #828bb2;
    }
  }
}
