@import url('https://fonts.googleapis.com/css?family=Numans');

.login-container{
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Numans', sans-serif;
  .container{
    height: 100%;
    align-content: center;
    }
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon {
  span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    &:hover{
      color: white;
      cursor: pointer;
    }
    }

}

.card-header{
  h3{
    color: white;
    }

}
.social_icon{
position: absolute;
right: 20px;
top: -45px;
span{
  img{
    width: 40px;
    height: auto;
    border-radius: 50%;
  }
}
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
