<div class="login-container">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>
          <div class="d-flex justify-content-end social_icon">
            <span (click) = 'loginWithFacebook()'><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFLMMV7Vw0Cjsj5-CyTT1-FZ596Zw4yKHE_Q&usqp=CAU" /></span>
            <span (click) = 'loginWithGoogle()'><img src="https://cdn.icon-icons.com/icons2/2119/PNG/512/google_icon_131222.png" alt=""></span>

          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon] = 'faUser'></fa-icon></span>
              </div>
              <input type="text" class="form-control" placeholder="username">

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon] = "faKey"></fa-icon></span>
              </div>
              <input type="password" class="form-control" placeholder="password">
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox">Remember Me
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn float-right login_btn">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a href="#">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
