<div class="article-detail">
    <div class="container">
      <!--breadcrumb-->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
          <li class="breadcrumb-item active" aria-current="page">Chi tiết bài viết</li>
        </ol>
      </nav>
      <!--end breadcrumb-->
      <!--article detail-->

      <div class="article-container">
        <div class="main">
            <app-article-content></app-article-content>
        </div>
         <div class="sidebar">
            <app-author-card></app-author-card>
         </div>

      </div>


      <!-- end article detail-->
    </div>
</div>
