$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


.article-detail{
  @include desktop(){
    margin-top: 54px;
  }

  .container{
      .breadcrumb{
        background-color: transparent;
        padding:  20px 0;
        margin: 0;
        .breadcrumb-item{
          font-size: 14px;
          font-weight: 600;
          a{
            color: #c738d8;
          }
        }
        .active{
          color: #415094;
        }
      }

      .article-container{
        display: flex;
        flex-direction: column;
        @include tablet(){
          flex-direction: row;
        }
        @include desktop(){
          flex-direction: row;
        }
        .main{
          flex: 1;
          margin-bottom: 30px;
        }
        .sidebar{

          @include tablet(){
            width: 250px;
            margin-left: 15px;

          }
          @include desktop(){

            width: 300px;
            margin-left: 15px;
          }
        }
      }
  }
}
