<div class="post-categories">
    <h5 class="title">Post Categories</h5>
    <ul class="list-categories">
        <li><a href="" class="item"><img src="https://colorlib.com/preview/theme/bounty/img/bullet.png" alt=""> international</a></li>
        <li><a href="" class="item"><img src="https://colorlib.com/preview/theme/bounty/img/bullet.png" alt=""> Tours and travels</a></li>
        <li><a href="" class="item"><img src="https://colorlib.com/preview/theme/bounty/img/bullet.png" alt=""> Cooking tips</a></li>
        <li><a href="" class="item"><img src="https://colorlib.com/preview/theme/bounty/img/bullet.png" alt=""> life style and fashion</a></li>
    </ul>
</div>
