.post-categories{
  background-color: #1e1c27;
  padding: 20px;
  margin-top: 30px;
  .title{
    color: white;
    border-bottom: solid 1px gray;
    padding-bottom: 15px;
  }
  .list-categories{
    .item{
      width: 100%;
      display: inline-block;
      color: #828bb2;
      text-decoration: none;
      padding: 5px 0;
      &:hover{
        color: white;
        transition: all 0.2s;
      }
    }
  }
}
